<nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" width="48" src="http://tp1.sinaimg.cn/1679192640/180/5663693790/1" />
                            <span class="m-t-xs">&nbsp;&amp;&nbsp;</span>
                            <a href="http://10010.com"><img alt="image" class="img-circle" width="48" src="/assets/img/wo.jpg" /></a>
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">186 0036 6232</strong> <b class="caret"></b>
                             </span> <span class="text-muted text-xs block">5星, 忠诚用户</span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">个人信息</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">注销</a></li>
                            </ul>
                            <!--
                            <div class="row m-t-sm">
                                <div class="col-sm-12">
                                    <h1 class="m-b-xs text-muted">9,810.7 MB</h1>
                                    <small class="text-muted">剩余流量</small>
                                </div>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-sm-6 text-muted">
                                    <h5><strong>1228</strong><br><small class="text-muted">分钟(余)</small></h5>
                                </div>
                                <div class="col-sm-6 text-muted">
                                    <h5><strong>0</strong><br><small class="text-muted">元(余)</small></h5>
                                </div>
                            </div>
                            -->
                                <div style="margin-top:10px;">
                                    <small class="text-muted">2016-03-01</small>
                                    <div class="media-body">
                                        <span class="m-b-xs text-muted">| 流量半年包到期</span>
                                    </div>
                                </div>
                                <div style="margin-top:5px;">
                                    <small class="text-muted">2015-12-01</small>
                                    <div class="media-body">
                                        <span class="m-b-xs text-muted">| 套餐变更</span>
                                    </div>
                                </div>
                            <button type="button" class="btn btn-xs btn-block btn-outline btn-link"><span class="text-muted">more <i class="fa fa-caret-right"></i></span></button>
                            
                        </div>
                        <div class="logo-element">
                            Wo!
                        </div>
                    </li>
                    <li class="active">
                        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">查询</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="index.html">话费查询</a></li>
                            <li><a href="dashboard_2.html">积分查询</a></li>
                            <li><a href="dashboard_3.html">使用量查询</a></li>
                            <li><a href="dashboard_4_1.html">十年账单 <span class="label label-danger pull-right">Hot</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">交费</span>  </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">办理</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="graph_flot.html">流量半年包 <span class="label label-danger pull-right">1.5折</span></a></li>
                            <li><a href="graph_morris.html">套餐变更</a></li>
                            <li><a href="graph_rickshaw.html">基础业务</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">宽带 </span><span class="label label-primary pull-right">安装中...</span></a>
                    </li>
                    
                    <li>
                        <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">消息</span><span class="label label-warning pull-right">7</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="mailbox.html">业务提醒 <span class="label label-warning pull-right">5</span></a></li>
                            <li><a href="mail_detail.html">投诉进展 <span class="label label-warning pull-right">2</span></a></li>
                            <li><a href="mail_compose.html">消息通知 <span class="label label-warning pull-right">1</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>